<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        
        <a href="{{url_for('newGenre')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true">Add Genre</span>
				</button>
		</a>
        {% for genre in genres %}
        
        <div>
            <div class = 'pane'>
                <a href = "{{url_for('showBands', genre_id = genre.id)}}">
                    <span class = 'name'><p>{{genre.name}}</p></span>
                </a>
            </div>


            <div class = "editdeletepane">
                <a href='{{url_for('editGenre', genre_id = genre.id) }}'>Edit</a>
                </br>
                <a href = '{{url_for('deleteGenre', genre_id = genre.id) }}'>Delete</a>
            </div>
        </div>
        {% endfor %}
        </body>
</html>