<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='genres.css') }}">
    </head>
    <body>

        
        <a href="{{url_for('newGenre')}}">
				<button class="button" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true">Add Genre</span>
				</button>
        </a>
        <hr>
        <div class="center">
        {% for genre in genres %}
        
  
            <div class = 'div-name'>
                <a href = "{{url_for('showBands', genre_id = genre.id)}}">
                    <span class = 'name'><p>{{genre.name}}</p></span>
                </a>
                <a href='{{url_for('editGenre', genre_id = genre.id) }}'>Edit</a>
                </br>
                <a href = '{{url_for('deleteGenre', genre_id = genre.id) }}'>Delete</a>
            </div>


        {% endfor %}
        </div>
        </body>
</html>