<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='delete.css') }}">
    </head>
        <body>
            <h1> Are you sure you want to delete {{band.name}}? </h1>

            <form action="{{ url_for('deleteBand', genre_id=band.genre_id, band_id=band.id)}}" method = 'post'>

                <input type='submit', value = 'Delete'>

            </form>

            <a href = "{{ url_for('showBands', genre_id=band.genre_id)}}"> Cancel </a>
        </body>
</html>